.nav-wrapper {
  background-color: var(--main-bg-color) !important;
}

.sidenav {
  background-color: var(--second-bg-color) !important;
}

.logo {
  position: absolute;
  left: 20px;
  max-width: 80px;
  max-height: 80px;
}