button {
  background-color: var(--button-bg-color) !important;
}

.geoloc-display {
  width: 95%;
  max-width: 600px;
  margin: auto;
}

figure {
  border: solid 1px;
}

.none {
  display: none;
}

.error-log {
  background-color: yellow;
  color: red;
  font-weight: bold;
  font-size: 15px;
  max-width: 70%;
  margin: auto;
}

.why-geoloc {
  max-width: 70%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}