/* VARIABLES CSS*/
:root {
  --main-bg-color: #f57c00;
  --second-bg-color: #ff9800;
  --third-bg-color: #ffb74d;
  --button-bg-color: #40c4ff;
}

/*CSS from React improve for the project*/
.App {
  text-align: center;
}

.App-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: 35%;
  min-width: 350px;
}
