/* VARIABLES CSS*/

:root {
  --main-bg-color: #f57c00;
  --second-bg-color: #ff9800;
  --third-bg-color: #ffb74d;
  --button-bg-color: #40c4ff;
}

/*MEDIA QUERIES FOR LOGO*/

/*Media for smartphones*/

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
  .App-logo {
    margin-top: 2rem;
    width: 20rem;
    height: 10rem;
  }
}

/*Media for tablet*/

@media only screen and (min-device-width: 600px) and (max-device-width: 992px) {
  .App-logo {
    width: 40rem;
    height: 20rem;
    margin-top: 3rem;
  }
}

/*Media for desktop*/

@media only screen and (min-device-width: 993px) {
  .App-logo {
    width: 45rem;
    height: 22rem;
    margin-top: 4rem;
    margin-bottom: 40px;
  }
}

/*CSS basic from React*/

.App {
  text-align: center;
  /* min-height: 100%; */
}